
.shutter {
  animation: slide-up 2s cubic-bezier(0.39, 0.1, 0.25, .9) 2s forwards;
}

.shutter-logo {
  opacity: 0;
  animation: fade-in 1s linear .2s forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
